/*
 * @Author: Guoxing.han 
 * @Date: 2017-04-27 15:27:24 
 * @Last Modified by: Guoxing.han 
 * @version 0.0.1 
  */

@import 'reset';
.no-scroll {
  overflow: hidden;
  position: relative;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}